@model Stracker.Models.Tee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yardage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yardage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
